$color-green: #007f00;
$color-green-900: #cdffcd;
$color-red: #d30000;
$color-red-900: #ffe0e0;
$color-yellow: #965e00;
$color-yellow-900: #ffeccc;

$color-black-100: #00000033;
$color-white: #ffffff;
$dark-purple: #25213b;
$blue: #4a4aff;

$purple: #6d5bd0;
$purple-100: #6e6893;
$purple-200: #8b83ba;
$purple-300: #c6c2de;
$purple-400: #f2f0f9;
$purple-500: #f4f2ff;
$purple-600: #e6e6f2;
$purple-700: #d9d5ec;
