@import 'src/common/styles/colors';

.wrapper {
    text-transform: capitalize;
    border-radius: 10px;
    width: fit-content;
    padding: 2px 5px 2px 16px;
    background-color: $purple-600;
    color: $blue;
    font-weight: 500;
    font-size: 12px;
    position: relative;

    &:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $blue;
        position: absolute;
        left: 5px;
        top: 7px;
    }
}

.inactive {
    background-color: $purple-400;
    color: $purple-100;

    &:before {
        background-color: $purple-100;
    }
}

.paid {
    background-color: $color-green-900;
    color: $color-green;

    &:before {
        background-color: $color-green;
    }
}

.overdue {
    background-color: $color-red-900;
    color: $color-red;

    &:before {
        background-color: $color-red;
    }
}

.unpaid {
    background-color: $color-yellow-900;
    color: $color-yellow;

    &:before {
        background-color: $color-yellow;
    }
}
