.wrapper {
  text-transform: capitalize;
  border-radius: 10px;
  width: fit-content;
  padding: 2px 5px 2px 16px;
  background-color: #e6e6f2;
  color: #4a4aff;
  font-weight: 500;
  font-size: 12px;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #4a4aff;
    position: absolute;
    left: 5px;
    top: 7px;
  }
}

.inactive {
  background-color: #F2F0F9;
  color: #6E6893;

  &:before {
    background-color: #6E6893;
  }
}

.paid {
  background-color: #cdffcd;
  color: #007F00;

  &:before {
    background-color: #007F00;
  }
}

.overdue {
  background-color: #FFE0E0;
  color: #D30000;

  &:before {
    background-color: #D30000;
  }
}

.unpaid {
  background-color: #ffeccc;
  color: #965e00;

  &:before {
    background-color: #965e00;
  }
}