.NameSell {
  display: flex;
  flex-direction: column;
  gap: 5px;

  p {
    margin: 0;

    &:first-child {
      font-weight: 500;
      font-size: 14px;
      color: #25213B;
    }

    &:nth-child(2) {
      color: #6E6893;
      font-weight: 400;
    }
  }

}